.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  height: 100vh;
}

.header{
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1{
  margin: 0;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 svg{
  margin-right: 10px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.controls{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls select{
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
}

.clock{
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clock h2{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock h2 svg{
  margin-right: 10px;
}

.clock p{
  font-size: 1.2em;
  margin: 0;
}
